{% extends "_onecol.html" %}

{% block title %}Agile Brazil{% endblock %}

{% block body %}
<h2>To Do</h2>

<ol>
    <li>
        Link do template - CARLA 
        <ul>
            <li>
                <a href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines">https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines</a>
            </li>
            <li>
                <a href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines">https://www.overleaf.com/latex/templates/springer-lecture-notes-in-computer-science/kzwwpvhwnvfj#.WuA4JS5uZpi</a>
            </li>
        </ul>
    </li>
    <li>Correções da Guta - Paulo</li>
    <li>Criar o CPF EasyChair - Paulo</li>
    <li>Divulgação (listas)</li>
</ol>

<h3>Ver nomes de 2018 - site fora do ar</h3>
<h4>Acrescenta mais nome internacionais</h4>
<ul>
    <li>Theodore D. Hellmann (United States)</li>
    <li>Xiaofeng Wang (Free University of Bozen-Bolzano, Italy)</li>
</ul>
        
<h4>Acrescentar nomes locais de BH e MG</h4>    
<ul>
    <li>Maria Augusta Vieira Nelson (PUC-MG, Brazil)</li>
</ul>
<hr>
<p>Pensar em painel com a indústria Agile de hospedagem em 2018</p>
<p>Dinheiro para Keynote e passagens dos organizadores</p>
<p>1 author por paper ganhou inscrição em 2018</p>
<p>Mandar email para Springer aceita publicar (não paga)</p>
<ul><li>Jorge</li></ul>

<p>Site (github.io?) - CARLA
<a href="https://soheal.github.io/cfp.html">https://soheal.github.io/cfp.html</a></p>

<p>ICSME 2018/2017</p>
<p>Mandar usuário no slack para Grazi</p>

{% endblock %}